appnope
backports.shutil-get-terminal-size
certifi
decorator
Django
django-authtools
django-crispy-forms
django-debug-toolbar
django-environ
django-extensions
easy-thumbnails
enum34
ipython
ipython-genutils
pathlib
pathlib2
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
Pygments
pytz
scandir
simplegeneric
six
sqlparse
traitlets
typing
wcwidth
Werkzeug
